body {
  font-family: Verdana,Helvetica,Arial,sans-serif;
  background: #d9d9d9 url('../../images/header_bg2.png') repeat-x;
  color: #4a4a4a;
  font-size: 85%;
  font-weight: 200;
}

.wrapper{
  position: absolute;
  top: 0px;
  width:100%;
  min-height: 100%;
  max-width: 1369px;
  height:auto;
  left:0px;
}
.middles{
  margin-left: 10%;
  width: 80%;
}
.header{
  height: 160px;
  position: relative;
  top:0px;
  color: lightblue;
}

.searchbooks{
  width: 900px;
}
.searchcolleges{
  /*background: url(../../images/lens.png) no-repeat 10px 6px #fcfcfc;
  background-position: 175px 7px;*/
 
}
.container{
  position: relative;
  margin-top: 80px;
  bottom: 80px;
  background-color: white;
  border-radius: 5px;
}
.content{
  padding: 20px;
}

/*
a img:hover{
  opacity: 0.7;
}
*/
img.logo{
  position: absolute;
  border: 4px solid transparent;
  top: 2px;
  max-width: 190px;
}
img.logo:hover{
  border: 4px solid #FFD100;
  background-color: #f9f9f9;
  border-radius: 5px;
  
}

.charity{
/*  width: 180px;*/
  clear: none;
  display: inline;
  top: -5px;
  position: absolute;
  background-color: #e9e9e9;
  padding: 10px;
  text-align: center;
  border: 4px solid #f9f9f9;
  left: 210px;
  border-radius: 5px;
}
.charity:hover{
  border: 4px solid #FFD100;
  background-color: #f9f9f9;
}
span.charity1{
  color:#B40505;
}
span.charity2{
  color:#000;
}
ul.linkbar{
  list-style: none;
  display: inline;
  clear: none;
}
ul.linkbar li{
  display: inline;
}
ul.top1{
  float: right;
  margin-top: 9px;
  color: #fff;
}
ul.top2{
  float: right;
  clear: both;
  margin-top: 16px;
  color: #000;
}

ul.top1 li{
  border: 4px solid #484444;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding: 0px 0px 8px;
}
ul.top1 li:hover{
  border: 4px solid #FFD100;
  background-color: #e9e9e9;
  border-radius: 5px 5px 0px 0px;
}
ul.top2 li{
  border: 4px solid #FFFFFF;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
  padding: 12px 4px 2px 4px;
}

ul.top2 li:hover{
  border: 4px solid #FFD100;
  background-color: #484444;
  border-radius: 5px;
}
.top1 a{
  color: #FFD100;
  text-decoration: none;
}
.top1 a:hover{
  color: #000;
}
.top2 a{
  color: #000;
  text-decoration: none;
}
.top2 a:hover{
  color: #FFD100;
}
span.searchline{
  position: absolute;
  width: 100%;
  top: 110px;
  
}
form{
  display: inline;
}

form .searchinput{
  height: 23px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  font: bold 12px Arial,Helvetica,Sans-serif;
  color: #bebebe;
  width: 150px;
  padding: 5px 10px 5px 15px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;

}

form.search1{
  /*position: absolute;
  width: 75%;*/
}
form.search2{
/*  position: absolute;
  left: 79%;
  width: 20%;*/
}
form .searchbooks{
  width: 75%;
  display: inline;
}
form span.buttonbabies{
  position: absolute;
  top: 3px;
  height: 40px;
  left: 40%;
}
form span.buttonbabies .btn{
  height: 29px;
}
form select{
  width:24%;
  position: relative;
}
form .submitbook{
  width: 13%;
}
form .searchcolleges{
  position: absolute;
  width: 19%;
  border-radius: 15px;
  height: 22px;
}
form input.submitcollege{
  position: relative;
  top: -4px;
  left: 19%;
  width: 20px;
  height: 20px;
}

.footer{
  background: #484444;
  height:80px;
  width:100%;
  position:absolute;
  bottom:0px;
  left:0px;
}
.footerstuff{
  position: absolute;
  top: 7px;
  line-height: 2;
  display: inline;
}
.footer .bottom_left{
}

.footer .bottom_right{
  position: absolute;
  right: 0px;
  top: 0px;
  color: white;
}
.footer ul{
  list-style-type: none;
  color: white;
  display: inline;
  margin: 0px;
}
.footer ul li{
  display: inline;
}
.footer span.devs_space{
  color: white;
  line-height: 2;
}

.footer a{
  color: #FFD100;
  text-decoration: none;
}
.footer a:hover{
  color: #FFD100;
  text-decoration: underline;
}


.footer span.social_text{
  margin-left: 5px;
}

.fb_btn{
  background-image:url(../../images/icon_fb.png);
  background-repeat:no-repeat;
  width:24px;
  height:24px;
  float:left;
}

.fb_btn{
  background-image:url(../../images/icon_fb.png);
  background-repeat:no-repeat;
  width:24px;
  height:24px;
  float:left;
  margin:2px 0 0 5px;
}

.tw_btn{
  background-image:url(../../images/icon_tw.png);
  background-repeat:no-repeat;
  width:24px;
  height:24px;
  float:left;
  margin:2px 0 0 5px;
}

.li_btn{
  background-image:url(../../images/icon_linkedn.png);
  background-repeat:no-repeat;
  width:24px;
  height:24px;
  float:left;
  margin:2px 0 0 5px;
}

.mail_btn{
  background-image:url(../../images/icon_mail.png);
  background-repeat:no-repeat;
  width:24px;
  height:24px;
  float:left;
  margin:2px 0 0 5px;
}

.evernote_btn{
  background-image:url(../../images/icon_evenote.png);
  background-repeat:no-repeat;
  width:24px;
  height:24px;
  float:left;
  margin:2px 0 0 5px;
}

.gplus_btn{
  background-image:url(../../images/icon_gplus.png);
  background-repeat:no-repeat;
  width:24px;
  height:24px;
  float:left;
  margin:2px 0 0 5px;
}
